@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './variables.css';

:root {
    font-family: 'Rubik', sans-serif;
    background: var(--color-light-grayish-violet);
    color: var(--color-white);
}
